name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build-docker-image:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push ARM64 Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          platforms: linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/cheftory-opensearch:latest

  # ec2에 배포
  deploy:
    environment: production
    runs-on: ubuntu-latest
    needs: build-docker-image
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: SSH to EC2 and create folder
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            mkdir -p cheftory-search
            mkdir -p cheftory-search/logstash/pipeline
            mkdir -p cheftory-search/logstash/sql
            mkdir -p cheftory-search/logstash/drivers
            mkdir -p cheftory-search/logstash/templates
            mkdir -p cheftory-search/opensearch

      - name: Create .env on EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/cheftory-search
            cat <<EOF > .env
            COMPOSE_PROJECT_NAME=cheftory
            OPENSEARCH_INITIAL_ADMIN_PASSWORD=${{ secrets.OPENSEARCH_INITIAL_ADMIN_PASSWORD }}
            ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}
            OPENSEARCH_HOST=${{ secrets.OPENSEARCH_HOST }}
            OPENSEARCH_PORT=${{ secrets.OPENSEARCH_PORT }}
            OPENSEARCH_USERNAME=${{ secrets.OPENSEARCH_USERNAME }}
            DATABASE_HOST=${{ secrets.DATABASE_HOST }}
            DATABASE_PORT=${{ secrets.DATABASE_PORT }}
            DATABASE_NAME=${{ secrets.DATABASE_NAME }}
            DATABASE_USERNAME=${{ secrets.DATABASE_USERNAME }}
            DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}
            EOF

      - name: Copy docker-compose.prod.yml to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "docker/docker-compose.prod.yml"
          target: "/home/ubuntu/cheftory-search"
          strip_components: 1

      - name: Copy opensearch config to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "opensearch/opensearch.yml"
          target: "/home/${{ secrets.EC2_USER }}/cheftory-search"

      - name: Copy logstash pipeline to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "logstash/pipeline/*"
          target: "/home/${{ secrets.EC2_USER }}/cheftory-search"

      - name: Copy logstash sql to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "logstash/sql/*"
          target: "/home/${{ secrets.EC2_USER }}/cheftory-search"

      - name: Copy logstash drivers to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "logstash/drivers/*"
          target: "/home/${{ secrets.EC2_USER }}/cheftory-search"

      - name: Copy logstash templates to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "logstash/templates/*"
          target: "/home/${{ secrets.EC2_USER }}/cheftory-search"

      - name: Copy logstash pipelines.yml to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "logstash/pipelines.yml"
          target: "/home/${{ secrets.EC2_USER }}/cheftory-search"

      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd cheftory-search

            echo ${{ secrets.DOCKERHUB_PASSWORD }} | sudo docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

            sed -i "s|image: cheftory-opensearch:latest|image: ${{ secrets.DOCKERHUB_USERNAME }}/cheftory-opensearch:latest|g" docker-compose.prod.yml

            sudo docker-compose -f docker-compose.prod.yml stop || true
            sudo docker-compose -f docker-compose.prod.yml rm -f || true
            sudo docker rmi ${{ secrets.DOCKERHUB_USERNAME }}/cheftory-opensearch:latest || true

            sudo docker-compose -f docker-compose.prod.yml pull
            sudo docker-compose -f docker-compose.prod.yml up -d
